.main {
  margin-left: 20px;
  margin-right: 20px;
}

.topSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  margin-top: 0.4rem;
  margin-bottom: 3rem;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.title {
  color: black;
}

.authSection {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.emailPasswordAuth {
  margin-top: 2rem;
}

.bottomSection {
  margin-top: 25%;
}

.text {
  color: black;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
}

.temp {
  position: relative;
}

.initializeAppBtn {
  position: fixed;
  bottom: 3rem;
  left: 1rem;
}
