.wholePage {
  margin-left: 20px;
  margin-right: 20px;
}

/* .dd{
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 10;
} */

.header {
  display: flex;
  padding: 10px;

  margin-top: 0.1rem;
  margin-bottom: 3rem;
  justify-content: center;
  /* z-index: 10; */
}

.logo {
  position: fixed;
  width: 40px;
  height: 40px;
  /* background-color: transparent; */
  border: none;
}
