.wholePageLink {
  /* background-color: wheat; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5rem;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: -1px;
}

.emailLinkAuth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  height: 6rem;

  /* background-color: tomato; */
}

.textName,
.textEmail {
  border: none;
  /* border-bottom: 1px solid var(--border-color); */
  height: 30px;

  width: 100%;
  /* background-color: rgba(83, 83, 83, 0.579); */
}

input::placeholder {
  color: rgba(67, 67, 67, 0.697);
  font-weight: 600;
  letter-spacing: -0.7px;
}

.line {
  border-top: 1px solid var(--border-color);
  width: 100%;
  margin-top: -20px;
}

.buttonSection {
  margin-top: 21rem;
  display: flex;
  justify-content: end;
}
.authButton {
  padding: 6px 10px;
  border-radius: 50px;
  border: none;
  font-size: 13px;
  letter-spacing: -1.2px;
  color: white;
  background-color: gray;
}
