/* .modalNewPost {
  position: fixed;
  z-index: 400;
} */

.container {
  display: flex;
  justify-content: center;
  /* margin-top: 30px; */
  /* align-items: center; */
  /* height: auto; */
}

.form {
  z-index: 400;

  background-color: #ffffff;
  padding: 1rem;
  width: 22rem;
  height: 35rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.actions button,
.cancelButton {
  cursor: pointer;
  font: inherit;
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: #ffffff;
  border-radius: 30px;
  color: #000000;
  font-size: 1rem;
}

.actions button:nth-child(2) {
  background-color: var(--main-color);
  color: #ffffff;
}

.cancelButton {
  text-decoration: none;
}
/* 
.actions button:hover {
  background-color: #23014a;
}

.actions a {
  background-color: transparent;
  text-decoration: none;
  color: #e5d5f7;
}

.actions a:hover {
  color: #d1bee6;
} */

p > label {
  display: block;
  margin-bottom: 0.05rem;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font: inherit;
}

.postAuthor,
.postContent {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #f6f1f1;
  color: #000000;
  font-size: 1rem;
}

.postContent {
  margin-bottom: 1.5rem;
}

.checkBox {
  margin-top: 2rem;
}

input + span {
  color: rgb(0, 0, 0);
  margin-left: 8px;
  font: inherit;
}

.limitLetter {
  margin: -1.6rem 0.3rem;
  font-size: 0.6rem;
  opacity: 0.4;
}
