@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.create_form label {
  color: whitesmoke !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.component_name {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
