.buttons {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-color);
  padding: 10px 0;
  box-sizing: border-box;

  position: fixed;
  bottom: 0;
  width: 100vw;
}

.login {
  background-color: #1a8edc;
  padding: 10px 40px;
  border: white 1px solid;
  border-radius: 30px;
  color: white;
  font-weight: bold;

  text-decoration: none;
}

.sign_up {
  background-color: white;
  padding: 10px 40px;

  border-radius: 30px;
  color: black;
  font-weight: bold;

  text-decoration: none;
}
