.wholePasswordPage {
  /* background-color: wheat; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5rem;

  height: 100%;

  animation-fill-mode: forwards;

  animation: moveSignUpPasswordPopup 0.2s forwards;
}

@keyframes moveSignUpPasswordPopup {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: -1px;
}

.subTitle {
  margin-top: -18px;
  font-size: 12px;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: -0.5px;
  opacity: 0.3;
}

.emailLinkAuth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  height: 9rem;
}

.textName,
.textEmail,
.textpassword {
  border: none;
  height: 30px;

  width: 100%;
}

input::placeholder {
  color: rgba(67, 67, 67, 0.697);
  font-weight: 600;
  letter-spacing: -0.7px;
}

.line {
  border-top: 1px solid var(--border-color);
  width: 100%;
  margin-top: -20px;
}

.buttonSection {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}
.authButton {
  padding: 6px 10px;
  border-radius: 50px;
  border: none;
  font-size: 13px;
  letter-spacing: -1.2px;
  color: white;
  background-color: gray;
}
