.fakeNewPost {
  animation-fill-mode: forwards;
  animation: deleteFakeNewPost 0.25s forwards;

  z-index: 450;
  width: 100%;
  height: 100%;
}

@keyframes deleteFakeNewPost {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* 테스트 위한 css */
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */

.form {
  /* position: fixed;
  top: 0;
  left: 0; */

  /* border: 3px solid #000000; */

  width: 100%;
  /* height: 100vh; */

  z-index: 400;

  background-color: #ffffff;
  padding: 0.6rem;

  animation-fill-mode: forwards;
  animation: showNewPostPage 0.25s forwards;
}

@keyframes showNewPostPage {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.actions button,
.cancelButton {
  cursor: pointer;
  font: inherit;
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: #ffffff;
  border-radius: 30px;
  color: #000000;
  font-size: 1rem;
}

.actions button:nth-child(2) {
  background-color: var(--disc-doctor-color);
  color: #ffffff;
}

.cancelButton {
  text-decoration: none;
}
/* 
.actions button:hover {
  background-color: #23014a;
}

.actions a {
  background-color: transparent;
  text-decoration: none;
  color: #e5d5f7;
}

.actions a:hover {
  color: #d1bee6;
} */

.nameInput {
  margin-top: 0;
}

p > label {
  display: block;
  margin-bottom: 0.05rem;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font: inherit;
}

.postAuthor,
.postContent {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #f6f1f1;

  font: inherit;
  color: #000000;
  font-size: 1rem;
}

.postContent {
  margin-bottom: 1.5rem;
}
/* 
.checkBox {
  margin-top: 2rem;
}

input + span {
  color: rgb(0, 0, 0);
  margin-left: 8px;
  font: inherit;
} */

.limitLetter {
  margin: -1.6rem 0.3rem;
  font-size: 0.6rem;
  opacity: 0.4;
}

input::placeholder {
  font-weight: 300 !important;
}
