.back_button_container {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 100;
  text-decoration: none;
  color: black;
}

.text {
  display: flex;
  padding: 8px;
  background-color: transparent;
}
