.headerContainer {
  height: 4rem;

  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--header-border-color);
  text-align: center;
}

.profile {
  margin-top: 1.3rem;
}

.profile_icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
}

.nickName {
  margin-top: -0.01rem;

  font-size: 8px;
  font-weight: 600;
}

nav * {
  text-decoration: none;
}
nav {
  margin-top: 0.4rem;
}

.category {
  padding-left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.9rem;
  font-weight: 600;
}

.category li {
  margin: 0 0.3rem;
  list-style: none;
}

.category a {
  color: #0000004f;
}

.category a.hover,
.category a.active {
  color: var(--disc-doctor-color);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--disc-doctor-color);
  color: #2a2630;
  border: none;
  box-shadow: 0 2px 8px #00000033;
  cursor: pointer;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
  color: white;
}

.button:hover {
  background-color: var(--disc-doctor-color);
}
