.container {
  width: 12rem;
  height: 16rem;

  display: flex;
  justify-content: start;
  flex-direction: column;
}

.cancel {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;

  border: none;
  cursor: pointer;
  background-color: transparent;
}

.update,
.delete {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid var(--post-border-color);

  cursor: pointer;
  background-color: transparent;
}
.update {
  margin-top: rem;
  border-top: 1px solid var(--post-border-color);
}

.update:hover,
.delete:hover {
  background-color: var(--hover-color);
}

.icon,
.cancelIcon {
  color: var(--gray-icon-opacity07);
}

.text {
  color: black;
}

/* .cancel {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;

  background-color: transparent;
} */
