.headerContainer {
  height: 4rem;
  width: 100%;

  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border-bottom: 1px solid var(--header-border-color); */
  text-align: center;
}

.profile {
  /* margin-top: 1rem; */
  margin-left: 0.5rem;
  width: 14%;

  /* position: absolute;
  top: 1rem;
  left: 0.5rem; */

  /* background-color: red; */
}

.profile_icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: black;
}

.nickName {
  margin-top: -0.01rem;

  font-size: 8px;
  font-weight: 600;

  color: black;
}

.serch {
  width: 66%;

  /* margin-right: 0.5rem; */
  padding: 0.3rem 4rem;

  border-radius: 50px;

  color: rgb(87, 87, 87);
  background-color: rgba(222, 222, 222, 0.656);
  /* background-color: red; */
}
.serchSub {
  margin-left: 1.4rem;
  display: flex;
  align-items: center;
  /* background-color: red; */
}
.serchText {
  margin-left: 0.2rem;

  letter-spacing: -0.9px;
}

.setting {
  width: 14%;

  margin-right: 0.7rem;

  border: none;
  background-color: transparent;
  /* background-color: red; */
}

.setting i {
  color: black;
  font-size: 1.5rem;
}
