.headerContainer {
  height: 4rem;

  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--header-border-color);
  text-align: center;
}

.profile {
  margin-top: 1.3rem;
}

.profile_icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: black;
}

.nickName {
  margin-top: -0.01rem;

  font-size: 8px;
  font-weight: 600;

  color: black;
}

.setting {
  margin-right: 0.5rem;
  font-size: 2rem;
}
