.headerContainer {
  height: 4rem;

  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--header-border-color);
  text-align: center;
}

.profile {
  margin-top: 1rem;
  /* background-color: red; */
}

.profile_icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: black;
}

.nickName {
  margin-top: -0.01rem;

  font-size: 8px;
  font-weight: 600;

  color: black;
}

.serch {
  margin-right: 0.3rem;

  padding: 0.5rem 5.5rem;

  border-radius: 50px;

  color: rgb(87, 87, 87);

  background-color: rgba(222, 222, 222, 0.496);
}
.serchSub {
  display: flex;
  align-items: center;
}
.serchText {
  margin-left: 0.2rem;

  letter-spacing: -0.9px;
}

.setting {
  margin-right: 0.5rem;
  font-size: 1.8rem;

  /* background-color: red; */
}
