.post {
  min-height: 2rem;
  max-height: 17rem;

  overflow: hidden;

  border-bottom: 0.5px solid var(--post-border-color);

  animation: animate-in 1s ease-out forwards;
}

.sections {
  display: flex;
  max-height: 15.2rem;
}

.leftSection {
  width: 2.5rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  /* background-color: rgba(0, 64, 255, 0.203); */
}

.postProfileIcon {
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.426);
}

.rightSection {
  margin-left: 1rem;

  width: 97.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.headerContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author {
  margin-top: 0.6rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  letter-spacing: -0.5px;

  text-transform: uppercase;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 6.5rem;
  font-size: 1px;
}

.deleteButton {
  margin-left: 0.5rem;
}

.buttons button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.bodyContents {
  /* margin-right: 0; */

  max-height: 200px;
  overflow: auto;
}

.bodyText {
  /* white-space: pre-wrap; */
  font-size: 0.9rem;
  color: black;

  /* text-overflow: ellipsis; */

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.bottomContents {
  margin-top: 0.4rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;

  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottomContents li {
  margin-right: 0.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 0.8rem;
  font-weight: 500;
  color: var(--gray-icon-opacity07);
  cursor: pointer;
}

.comment,
.like {
  display: flex;
  justify-content: center;
  align-items: center;
}

li > .icon {
  margin-right: 0.2rem;
  /* background-color: red; */
}

li > .icon:active {
  /* will-change: transform; */

  animation: animate-click-heart 0.5s 1;
}

.heartBtn {
  border: none;
  margin-top: 0.2rem;
  margin-right: -0.2rem;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heartBeat {
  0% {
    color: transparent;
    transform: scale(1);
  }
  50% {
    color: red;
    transform: scale(2rem);
  }
  100% {
    color: red;
    transform: none;
  }
}

@keyframes animate-click-heart {
  0% {
    transform: scale(1);
    background-color: initial;
  }
  50% {
    transform: scale(1.5);
    background-color: red;
  }
  100% {
    transform: scale(1);
    background-color: red;
  }
}
