.button_list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  right: 10px;
  margin-top: -1rem;
  margin-right: -0.2rem;
}

.CRUD_button {
  padding: 6px 4px;
  margin-top: 4px;
}
