.header_container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10%;
}

/* .box_test {
  display: flex;
  justify-content: center;
}
.form_containers {
  display: flex;
  justify-content: center;
  background-color: tomato;
  align-items: center;
  margin-top: 5px;
  padding: 20px;
  width: 400px;
  height: 15px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
} */

.component_name {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.form_containers {
  display: flex;
  justify-content: center;
}

.form_container {
  display: flex;
  justify-content: center;
  background-color: tomato;
  align-items: center;
  margin-top: 5px;
  padding: 20px;
  width: 400px;
  height: 15px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

.form_p {
  margin-top: 5px;
}

.boundary_container {
  display: flex;
  justify-content: center;
}
.boundary {
  background-color: rgba(220, 220, 220, 0.1);
  margin: 10px;
  padding: 10px 10px;
  font-weight: 600;
  border-bottom: solid 2px rgba(0, 0, 0, 0.559);
}
