.post {
  margin: 3rem 0.5rem;
  padding: 2rem;
  /* background-color: #9c7eee; */
  border: 1px solid #939393fc;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  animation: animate-in 1s ease-out forwards;

  position: relative;
}

/* .post a {
  text-decoration: none;
} */

.author {
  font-size: 1.5rem;
  font-weight: bold;
  color: #543280;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.body {
  white-space: pre-wrap;
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
  color: #593884;
  font-style: italic;
}

.button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 3px;
  margin-right: 3px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
