.wholePasswordPage {
  /* background-color: wheat; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5rem;

  height: 100%;

  animation-fill-mode: forwards;

  animation: moveSignUpPasswordPopup 0.2s forwards;
}

@keyframes moveSignUpPasswordPopup {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: -1px;
  line-height: 2rem;
}

.subTitle {
  margin-top: -25px;
  font-size: 12px;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: -0.5px;
  opacity: 0.3;
}

.emailLinkAuth {
  margin-top: 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  height: 6rem;

  /* background-color: tomato; */
}

.textName,
.textEmail {
  border: none;
  /* border-bottom: 1px solid var(--border-color); */
  height: 30px;

  width: 100%;
  /* background-color: rgba(83, 83, 83, 0.579); */
}

input::placeholder {
  color: rgba(67, 67, 67, 0.697);
  font-weight: 600;
  letter-spacing: -0.7px;
}

.line {
  border-top: 1px solid var(--border-color);
  width: 100%;
  margin-top: -20px;
}

.buttonSection {
  margin-top: 0rem;
  position: relative;

  display: flex;
  justify-content: end;
}
.authButton {
  padding: 6px 10px;

  position: absolute;
  right: 0;
  top: 2rem;

  border-radius: 50px;
  border: none;
  font-size: 13px;
  letter-spacing: -1.2px;
  color: white;
  background-color: gray;
}

authButton:active {
  color: var(--discord-color);
}

.errorMessage {
  margin: 0;
  color: rgb(255, 0, 0);
  font-size: 0.8rem;
}
