.authPage {
  margin: 1rem 0.5rem;
  height: 100%;

  /* border: 3px solid darkcyan; */

  animation-fill-mode: forwards;
  animation: showAuthPage 0.25s forwards;
}
/* 
.header {
  border: 1px solid red;
} */

.formSection {
  margin-left: 0.3rem;
  margin-right: 0.3rem;

  height: 100%;
}

@keyframes showAuthPage {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}
